{% extends 'base.html.twig' %}



{% block title %}  Micropost {% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% if usersToFollow|length > 0 %}
        <p>You currently do not follow anyone, you might find the users interessting: </p>
        {% for userToFollow in usersToFollow %}
            <a href="{{ path('following_follow',{'id': userToFollow.id }) }}" title="Folgen">@{{ userToFollow.username }}</a>
        {% endfor %}
    {% else %}


    {% for id,post in posts %}

        <div class="row">
            <div class="col-1-of-2">
                <a href="{{ path('micro_post_post', {'id': post.id }) }}">
                </a>
                {{ include('micro-post/raw-post.html.twig', {'post': post }) }}
            </div>

            <div class="col-1-of-2">
                <small class="d-block text-right mt-3">
                    {% if is_granted('edit', post) %}
                      <a href="{{ path('micro_post_edit',{'id': post.id}) }}">Edit</a>
                    {% endif %}

                    {% if is_granted('delete',post) %}
                      <a href="{{ path('micro_post_delete',{'id': post.id}) }} " title="Löschen">Delete </a>
                    {% endif %}
                </small>
            </div>
        </div>
    {% endfor %}

    {% endif %}
{% endblock %}